.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #e1f6f8;
  width: 820px;
  height: 1180px;
}

.h1 {
  /* margin: 0; */
  text-align: center;
  font-size: 60px; /* 例として24pxに調整 */
  margin-bottom: 30px;
}

.h2 {
  margin: 0;
  margin-top: 5px;
  /* margin-bottom: 5px; */
  text-align: center;
  font-size: 45px; /* 例として24pxに調整 */
}
/* 退館登録者 */
.labelSelect {
  font-size: 30px;
  display: block;
  text-align: center;
}

.selectField {
  width: 50%;
  padding: 15px;
  font-size: 30px;
}

/* 退館日時 */

.labelDateTime {
  display: block;
  font-size: 20px; /* 例として20pxに変更 */
  text-align: center;
}

/* コメント */
.inputLabel {
  font-size: 30px;
  margin-top: 5px;
  display: block; /* 改行するために追加 */
  text-align: center;
}

.inputField {
  width: 60%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 40px;
}

/* 登録ボタン */
/* .buttonInsertData {
  width: 25%;
  margin-top: 84px;
  margin-left: 37.5%;
  font-size: 30px; 
  padding: 15px 20px; 
} */
/* その他選択時 */
/* .buttonInsertDataSonota {
  width: 25%;
  margin-top: 10px;
  margin-left: 37.5%;
  font-size: 30px;
  padding: 15px 20px;
} */

/* 登録ボタン */
.buttonInsertData {
  width: 35%;
  height: 100px; /* 例として高さを60pxに変更 */
  margin-top: 20px;
  margin-left: 11%;
  font-size: 30px; /* 例として24pxに変更 */
  padding: 15px 20px; /* 例として上下に15px、左右に20pxのpaddingを追加 */
  border-radius: 10px;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* transformを追加 */
}

.buttonInsertData:hover {
  box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.5);
  transform: scale(0.98); /* ホバー時に縮小させる */
}

/* 登録ボタンNotHover */
.buttonInsertDataNotHover {
  width: 35%;
  height: 100px; /* 例として高さを60pxに変更 */
  margin-top: 20px;
  margin-left: 11%;
  font-size: 30px; /* 例として24pxに変更 */
  padding: 15px 20px; /* 例として上下に15px、左右に20pxのpaddingを追加 */
  border-radius: 10px;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
}

/* ホームボタン */
.buttonClickHome {
  width: 20%;
  /* margin-top: 50px; */
  margin-top: 124px;
  margin-left: 2.5%;
  font-size: 24px; /* 例として24pxに変更 */
  /* display: block; */
  padding: 15px 20px; /* 例として上下に15px、左右に20pxのpaddingを追加 */
  border-radius: 10px;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* transformを追加 */
}

.buttonClickHome:hover {
  box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.5);
  transform: scale(0.98); /* ホバー時に縮小させる */
}

/* ホームボタンその他 */
.buttonClickHomeSonota {
  width: 20%;
  margin-top: 50px;
  margin-left: 2.5%;
  font-size: 24px; /* 例として24pxに変更 */
  /* display: block; */
  padding: 15px 20px; /* 例として上下に15px、左右に20pxのpaddingを追加 */
  border-radius: 10px;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* transformを追加 */
}

.buttonClickHomeSonota:hover {
  box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.5);
  transform: scale(0.98); /* ホバー時に縮小させる */
}
