.h1Top {
  /* margin: 0; */
  margin-top: 250px;
  text-align: center;
  font-size: 50px;
  margin-bottom: 5px;
}
.h1TopOpen {
  /* margin: 0; */
  margin-top: 115px;
  text-align: center;
  font-size: 50px;
  margin-bottom: 5px;
}
.h1 {
  /* margin: 0; */
  margin-top: 5px;
  text-align: center;
  font-size: 50px;
  margin-bottom: 5px;
}

.labelTop {
  /* margin: 0; */
  margin-top: 200px;
  text-align: center;
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
}
.label {
  /* margin: 0; */
  margin-top: 5px;
  text-align: center;
  display: block;
  font-size: 40px;
  margin-bottom: 5px;
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: #e1f6f8;
  width: 820px;
  height: 1180px;
}

/* ホームボタン */
.buttonEnEx {
  width: 30%;
  margin-top: 5px;
  margin-left: 69%;
  font-size: 20px;
  display: block;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 0px 6px 3px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* transformを追加 */
}

.buttonEnEx:hover {
  box-shadow: 0px 10px 3px rgba(0, 0, 0, 0.5);
  transform: scale(0.98); /* ホバー時に縮小させる */
}

/* ホームボタン透明度 */
.buttonEnExV {
  opacity: 0;
  /* position: absolute; */
  pointer-events: auto; /* ボタンの操作を有効にする */

  width: 30%;
  margin-top: 5px;
  margin-left: 69%;
  font-size: 20px; /* 例として24pxに変更 */
  display: block;
  padding: 15px 20px; /* 例として上下に15px、左右に20pxのpaddingを追加 */
}
