/* styles/NumberInput.module.css */
.NumberInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: -26.5%;
}

.inputField {
  padding: 15px;
  font-size: 24px;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.emptyButton {
  visibility: hidden;
}

.button {
  padding: 10px;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #fff;
}

.PopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* オーバーレイよりも前面に */
  z-index: 1500;
  text-align: center;
}

.inputFieldPoP {
  padding: 15px;
  font-size: 24px;
  margin: 10px auto 15px;
}

.rentCardType {
  display: block;
  font-size: 24px;
}
.rentCardNumber {
  font-size: 24px;
}
